.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;

}

.footer p {
    cursor: default;
    margin: 0;
    font-size: 0.85rem;
    color: gray;
}