.mainButton {
    cursor: pointer;
    padding: 0.75rem 3rem;
    margin: 0;
    border: none;
    border-radius: 25px;
    font: inherit;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    transition: .3s;
}

.mainButton:hover {
    background-color: white;
    color: rgb(22, 22, 60);
}

.mainButton:active {
    background-color: lightgrey;
    transition: 0s;
}

.hamburgerButton {
    cursor: pointer;
    padding-bottom: 1rem;
    border: none;
    font: inherit;
    font-size: 5rem;
    background-color: transparent;
    color: white;
}

.hamburgerButton img {
    width: 2rem;
    height: 2rem;
}

.navbarButton {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border: 0;
    background-color: transparent;
    color: white;
    font: inherit;
    font-size: 1.25rem;
    transition: .3s;
}

.navbarButton:hover {
    background-color: white;
    color: rgb(22, 22, 60);
}

.roundButton {
    width: 1rem;
    border-radius: 25px;
}