.comprehensiveCalculation {
    display: grid;
    grid-template-columns: 12rem 28rem auto;
    width: 75rem;
    height: 40rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: rgb(22, 22, 60) solid 2px;
    border-radius: 25px;
    overflow: hidden;
}

.comprehensiveCalculation .semesterList button {
    font-weight: bold;
    background-color: rgb(251, 229, 232);
    color: black;
}

.comprehensiveCalculation .semesterList button:hover {
    background-color: rgb(246, 176, 186);
}

.semesterList {
    grid-area: 1 / 1 / 2 / 2;
    border-right: black solid 1px;
}

.semesterList select {
    height: 90%;
    width: 100%;
    border: 0;
    background-color: transparent;
}

.semesterList select:focus {
    outline: none;
}

.semesterList option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    transition: 0.1s;
}

.semesterList option:hover {
    background-color: rgb(251, 229, 232);
}

.courseList {
    grid-area: 1 / 2 / 2 / 3;
    border-right: black solid 1px;
}

.comprehensiveCalculation .courseList button {
    font-weight: bold;
    background-color: rgb(251, 229, 232);
    color: black;
}

.comprehensiveCalculation .courseList button:hover {
    background-color: rgb(246, 176, 186);
}

.courseList .nameInput {
    height: 2.5rem;
    width: 12rem;
    margin-right: 1rem;
}

.courseList .otherInput {
    height: 2.5rem;
    width: 4rem;
    margin-right: 0.5rem;
}

.courseList ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    height: 88%;
    padding: 0;
    text-align: left;
    overflow-y: auto;
}

.courseList li {
    padding-bottom: 0.8rem;
}

.courseList li .roundButton {
    cursor: pointer;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: black solid 1px;
}

.semesterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.2rem;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(180deg, rgb(22, 22, 60) 50%, white 50%);
}

.GPASummaryContainer {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
}

.semesterBox h4 {
    margin: 0;
    color: white;
}

.semesterBox p {
    margin: 0;
}

.GPASummary {
    position: relative;
    top: 0;
    display: flex;
    margin-bottom: 2rem;
}

.GPASummary p {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.visualiserContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 2.5rem;
    height: 70%;
    margin-right: 1rem;
    width: 100%;
}

.GPAVisuliser {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.GPAVisuliser button {
    width: 18rem;
    margin: 1rem;
    background-color: rgb(251, 229, 232);
    color: black;
}

.GPAVisuliser button:hover {
    background-color: rgb(246, 176, 186);
}

.GPAVisualiserButtonContainer {
    display: flex;
    justify-content: space-around;
}

.gradeVisualisation {
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 85%;
}