.main {
    cursor: default;
    height: 100vh;
    background-color: rgb(22, 22, 60);
    color: white;
}

.main h1 {
    font-size: min(max(6vw, 25px), 75px);
    margin: 0;
    padding-left: 20vw;
    position: relative;
    top: 30vh;
    animation: slide-down 1000ms ease-out forwards;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.main .colourfulText {
    background: linear-gradient(to right, #ffcfdd 0%, #bc85ff 0%, #86ffe5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.main p {
    font-size: min(max(2.5vw, 20px), 37.5px);
    width: 80%;
    margin: 0;
    padding-left: 20vw;
    position: relative;
    top: 35vh;
}

.main .sentence1 {
    color: transparent;
    animation: slide-left 1000ms ease-out forwards;
    animation-delay: 500ms
}

.main .sentence2 {
    color: transparent;
    animation: slide-left 1000ms ease-out forwards;
    animation-delay: 600ms
}

.main .sentence3 {
    color: transparent;
    animation: slide-left 1000ms ease-out forwards;
    animation-delay: 700ms;
    
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(2rem);
    }
    to {
        color: white;
        opacity: 1;
        transform: translateX(0);
    }
}

.quickCalculation {
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 50rem;
    width: 100%;
    overflow: hidden;
}

.quickCalculation section h2 {
    font-size: min(max(3vw, 25px), 65px);
    color: rgb(22, 22, 60);
    margin: 0;
    padding-left: 15vw;
    padding-right: 5vw;
}

.quickCalculation section p {
    font-size: min(max(2vw, 25px), 43px);
    color: rgb(22, 22, 60);
    margin-top: 1rem;
    padding-left: 15vw;
    padding-right: 5vw;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .quickCalculation {
        flex-direction: column;
        min-height: 0;
        padding-top: 0rem;
        justify-content: center;
    }

    .quickCalculation section h2 {
        margin: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .quickCalculation section p {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 750px) {
    .main h1 {
        text-align: center;
        padding: 0;
        font-size: min(max(8vw, 25px), 50px);
    }

    .main p {
        font-size: min(max(4vw, 20px), 25px);
        padding-left: 10%;
    }
}

.comprehensiveCalculation {
    cursor: default;
    height: 100vh;
}

.comprehensiveCalculation section h2 {
    font-size: min(max(3vw, 28px), 50px);
    color: rgb(22, 22, 60);
    text-align: center;
    margin: 0;
}

.comprehensiveCalculation section P {
    margin: 0;
    font-size: min(max(3vw, 18px), 23px);
    color: rgb(22, 22, 60);
    text-align: center;

}