.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 600px;
    min-width: 600px;
    min-height: 70vh;
    max-height: 70vh;
    margin-right: 15vw;
    border: rgb(22, 22, 60) solid 2px;
    border-radius: 25px;
    overflow: hidden; 
}

.container p {
    margin: 0;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.container button {
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
    background-color: rgb(251, 229, 232);
    color: black;
}

.container button:hover {
    background-color: rgb(246, 176, 186);
}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(22, 22, 60);
}

.resultContainer p {
    color: white;
}

.inputContainer {
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.inputContainer input {
    width: 5rem;
}

.inputContainer p {
    padding: 1rem;
    font-size: 1.25rem;
}

.courseListContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    overflow: auto;
}

.courseList button {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    border: black solid 1px;
    background-color: white;
}

.courseList button:hover {
    background-color: lightgrey;
}

.courseList .courseNameInput {
    margin-right: 4rem;
    margin-bottom: 1rem;
    width: 15rem;
}

.courseList .dataInput {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.courseList .invalidInput {
    background-color: pink;
    content: "hello";
}

@media screen and (max-width: 1200px) {
    .container {
        margin-top: 1rem;
        margin-right: 0;
    }
}

@media screen and (max-height: 700px) {
    .resultContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
    }

    .resultContainer p {
        font-size: 1.2rem;
    }

    .inputContainer {
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: left;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        width: 60%;
    }

    .inputContainer p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .container > button {
        position: absolute;
        top: 4rem;
        right: 1rem;
        left: auto;
        padding: 0;
        width: 10rem;
        font-size: 0.4rem;
    }

    .courseListContainer {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 750px) {
    .container {
        min-width: 0;
        width: 90%;
    }

    .container > button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }

    .resultContainer p{
        font-size: 1.2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .inputContainer p {
        font-size: min(1.25rem, 3vw);
        padding-right: 0.3rem;
    }

    .inputContainer input {
        width: min(5rem, 12vw);
    }

    .courseListContainer {
        padding: 0;
    }

    .courseListContainer .courseNameInput{
        margin-right: 1rem;
        width: 12rem;

    }

    .courseListContainer .dataInput{
        width: 3rem;
    }
}