.container {
    cursor: default;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 40rem;
    align-items: center;
}

.heading {
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 1rem;
    background-color: rgb(22, 22, 60);
    color: white;
}

.heading h2 {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 2rem;
}

.heading p {
    margin: 0;
    padding-bottom: 1rem;
    text-align: center;
}

.gpaSetting {
    grid-area: 2 / 1 / 4 / 2;
    margin-bottom: 1rem;
}

.container h2 {
    text-align: center;
    margin: 0;
}

.otherSetting {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.roundContainer {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 1rem;
}

.roundContainer p {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0;
}

.selectionButton {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
}

.selectionButton p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: grey;
    font-size: 0.8rem;
    font-style: italic;
}

.selectionButton button {
    width: 18rem;
    background-color: rgb(251, 229, 232);
    color: black;
    font-size: 1.25rem;
}

.selectionButton button:hover {
    background-color: rgb(206, 149, 157);
    color: black;
}

@media screen and (max-width: 750px) {
    .heading h2 {
        font-size: 1.5rem;
    }

    .heading p {
        font-size: 0.9rem;
    }

    .selectionButton button {
        width: 16rem;
        font-size: 1rem;
        margin-right: 1rem;
    }

}