.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 600px;
    min-width: 600px;
    height: 70vh;
    min-height: 30rem;
    margin-right: 15vw;
    border: rgb(22, 22, 60) solid 2px;
    border-radius: 25px;
    overflow: hidden; 
}

.container p {
    margin: 0;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.container button {
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: black solid 2px;
    background-color: rgb(251, 229, 232);
    color: black;
}

.container button:hover {
    background-color: rgb(246, 176, 186);
}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(22, 22, 60);
}

.resultContainer p {
    color: white;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.inputContainer input {
    width: 5rem;
}

.inputContainer p {
    font-size: 1.25rem;
}

.courseListContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    overflow: auto;
}

.courseList button {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    border: black solid 1px;
    background-color: white;
}

.courseList button:hover {
    background-color: lightgrey;
}

.courseList .courseNameInput {
    margin-right: 4rem;
    margin-bottom: 1rem;
    width: 15rem;
}

.courseList .dataInput {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.courseList .invalidInput {
    background-color: pink;
    content: "hello";
}